<!-- Footer Section -->
<footer class="footer text-white pb-2">
  <div class="container">
    <div class="row">
      <!-- About Us -->
      <div class="col-md-4 mb-3 mb-md-0 text-center">
        <h5 jhiTranslate="footer.about">À Propos de Nous</h5>
        <p jhiTranslate="footer.about-text">
          Bienvenue sur Valkylit, votre destination en ligne pour tous vos besoins en livres. Nous nous engageons à offrir une large
          sélection de livres, allant des best-sellers aux classiques, avec un service client exceptionnel.
        </p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-4 mb-3 mb-md-0 text-center">
        <h5 jhiTranslate="footer.chapters">Chapitres légaux</h5>
        <ul class="list-unstyled">
          <li><a class="text-white" jhiTranslate="footer.contact" routerLink="/contact">Formulaire de contact</a></li>
          <li><a class="text-white" jhiTranslate="footer.faq" routerLink="/faq">Foire aux questions</a></li>
          <li><a class="text-white" jhiTranslate="footer.users-cond" routerLink="/terms-of-use">Conditions d'Utilisation</a></li>
          <li>
            <a class="text-white" jhiTranslate="footer.confidencial-policy" routerLink="/privacy-policy">Politique de Confidentialité</a>
          </li>
        </ul>
      </div>

      <!-- Contact Us -->
      <div class="col-md-4 text-center">
        <h5 jhiTranslate="footer.contact-header">Contactez-Nous</h5>
        <p>
          <strong jhiTranslate="footer.mail">Email : </strong>
          <a class="text-white" href="mailto:support@valkylit.com">support&#64;valkylit.com</a><br />
          <strong jhiTranslate="footer.tel">Téléphone : </strong> +33 1 23 45 67 89<br />
          <strong jhiTranslate="footer.adress">Adresse : </strong> 123 Rue des Livres, 75001 Paris, France
        </p>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="row mb-2">
      <div class="col-md-12 text-center">
        <p class="mb-0" jhiTranslate="footer.rights">&copy; 2024 Valkylit. Tous droits réservés.</p>
      </div>
    </div>
  </div>
</footer>
