@import '../../../content/scss/variables';

.footer {
  background-color: $dark;
  line-height: 1.5 !important;
  font-size: 14px;
  color: #ffffff;

  a {
    color: #ffffff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $light;
    }
  }

  h5 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  @media (max-width: 767.98px) {
    .footer h5 {
      font-size: 16px;
    }

    .footer p,
    .footer ul {
      font-size: 14px;
    }
  }
}
