<div class="container">
  <div class="row">
    <div class="col-3">
      <jhi-book-filter (filterChanged)="onFilterChanged($event)"></jhi-book-filter>
    </div>
    <div class="col-9">
      <jhi-book-list [books]="books"></jhi-book-list>

      <div *ngIf="books.length" class="d-flex justify-content-end paginator-container">
        <p class="align-self-center mr-2 result-number">
          {{ 'catalog.showingFrom' | translate }} {{ page * itemsPerPage + 1 }} {{ 'catalog.toMin' | translate }}
          {{ page * itemsPerPage + itemsPerPage > totalRecords ? totalRecords : page * itemsPerPage + itemsPerPage }}
          {{ 'catalog.on' | translate }} {{ totalRecords }} {{ 'catalog.results' | translate }}
        </p>
        <p-paginator
          styleClass="paginator"
          class="paginator"
          [rows]="itemsPerPage"
          [totalRecords]="totalRecords"
          (onPageChange)="onPageChange($event)"
          [first]="paginatorFirstRecordIndex"
        ></p-paginator>
      </div>

      <div *ngIf="!books.length" class="d-flex justify-content-center mt-3" jhiTranslate="catalog.noBooksMatchYourSearch">
        Aucun livre ne correspond à votre recherche
      </div>
    </div>
  </div>
</div>
