@import '../../../content/scss/variables';

.book-card {
  border: 1px solid #dad8dd;
  border-radius: 10px;
  box-shadow: #d6cece 0px 7px 5px 0px;

  .book-img {
    border-radius: 10px 0px 0px 10px;
    opacity: 1;
    width: 30%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
