<h2>Historique de mes commandes</h2>

<p-accordion [multiple]="true" *ngFor="let purchaseCommand of purchaseCommands; index as cmdIndex">
  <p-accordionTab
    [selected]="cmdIndex === 0"
    [tabIndex]="cmdIndex"
    header="Commande du {{ purchaseCommand.expeditionDate?.toString() | date }}"
  >
    <h4 class="bold mt-0 mb-2">Récapitulatif de mes achats</h4>
    <div *ngFor="let line of purchaseCommand.purchaseCommandLines; index as lineIndex">
      {{ line.quantity }}x <a routerLink="/details/{{ line.book!.id }}">{{ line.book?.title }}</a>
    </div>
    <div class="mt-2">Total : {{ getPurchaseCommandTotal(purchaseCommand) | currency: 'EUR' }}</div>

    <h4 class="bold mb-2">Adresse de livraison</h4>
    <table *ngIf="purchaseCommand.deliveryAddress">
      <tr>
        <td class="pr-2">Adresse :</td>
        <td>{{ purchaseCommand.deliveryAddress?.street }}</td>
      </tr>
      <tr>
        <td class="pr-2">Code postal :</td>
        <td>{{ purchaseCommand.deliveryAddress?.postalCode }}</td>
      </tr>
      <tr>
        <td class="pr-2">Ville :</td>
        <td>{{ purchaseCommand.deliveryAddress?.city }}</td>
      </tr>
      <tr>
        <td class="pr-2">Pays :</td>
        <td>{{ purchaseCommand.deliveryAddress?.country }}</td>
      </tr>
    </table>
    <div *ngIf="!purchaseCommand.deliveryAddress" class="text-danger">Informations indisponibles</div>

    <div class="mt-3">
      <p-tag icon="pi pi-info-circle" value="{{ 'global.purchaseCommand.status.' + purchaseCommand.status | translate }}"></p-tag>
    </div>
  </p-accordionTab>
</p-accordion>

<div *ngIf="!purchaseCommands || !purchaseCommands.length" class="mb-4">Aucune commande à afficher pour le moment.</div>
