<div class="search-bar">
  <p-inputGroup>
    <p-iconField iconPosition="right" ngClass="w-100">
      <input
        [(ngModel)]="searchTerm"
        (keydown.enter)="onSearch()"
        type="text"
        class="search-bar-input"
        pInputText
        placeholder="{{ 'global.menu.search-bar' | translate }}"
      />
      <p-inputIcon styleClass="pi pi-times" *ngIf="searchTerm" (click)="clearSearch()" />
    </p-iconField>

    <p-button type="button" icon="pi pi-search" severity="secondary" (click)="onSearch()"></p-button>
  </p-inputGroup>
</div>
