<div>
  <h2 id="page-heading" data-cy="BookCategoryHeading">
    <span jhiTranslate="valkylitApp.bookCategory.home.title">BookCategories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="valkylitApp.bookCategory.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-book-category"
        [routerLink]="['/book-category/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="valkylitApp.bookCategory.home.createLabel">Créer un nouveau Book Category</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (bookCategories?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="valkylitApp.bookCategory.home.notFound">Aucun Book Category trouvé</span>
    </div>
  }

  @if (bookCategories && bookCategories.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="valkylitApp.bookCategory.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="valkylitApp.bookCategory.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="valkylitApp.bookCategory.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="book.id">
              <div class="d-flex">
                <span jhiTranslate="valkylitApp.bookCategory.book">Book</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (bookCategory of bookCategories; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/book-category', bookCategory.id, 'view']">{{ bookCategory.id }}</a>
              </td>
              <td>{{ bookCategory.name }}</td>
              <td>{{ bookCategory.description }}</td>
              <td>
                @for (book of bookCategory.books; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/book', book.id, 'view']">{{ book.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/book-category', bookCategory.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/book-category', bookCategory.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(bookCategory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
