<div class="app-container">
  <div class="content">
    <router-outlet name="navbar"></router-outlet>
    <p-toast></p-toast>

    <!-- Fully designed pages as home or catalog -->
    <div *ngIf="isSpecialPage; else genericTemplate">
      <router-outlet></router-outlet>
    </div>

    <!-- Generic template for basic pages -->
    <ng-template #genericTemplate>
      <jhi-generic-page>
        <router-outlet></router-outlet>
      </jhi-generic-page>
    </ng-template>
  </div>

  <jhi-footer></jhi-footer>
</div>
