.faq-section {
  // background-color: #e8e9e1;
  // padding: 2rem;

  h1 {
    color: #9e573f;
  }

  p {
    color: #30333b;
    line-height: 1.6;
  }

  p-accordionTab {
    background-color: #e8e9e1;
    color: #30333b;

    a {
      color: #bd607d;
      text-decoration: underline;
    }
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
  }
}
