<section class="faq-section">
  <div class="container">
    <h1 class="text-center mb-4" style="color: #9e573f">Foire Aux Questions (FAQ)</h1>

    <p-accordion [multiple]="true">
      <p-accordionTab
        header="Si je pase une commande, est ce que je vais recevoir mes livres ?"
        [style]="{ 'background-color': '#e8e9e1', color: '#30333b' }"
      >
        <p>Oui oui</p>
      </p-accordionTab>

      <p-accordionTab header="Comment puis-je passer une commande ?" [style]="{ 'background-color': '#e8e9e1', color: '#30333b' }">
        <p>
          Pour passer une commande, recherchez le livre que vous souhaitez acheter en utilisant la barre de recherche ou parcourez le
          catalogue. Cliquez sur le livre de votre choix, et ajoutez-le à votre panier. Une fois vos articles ajoutés au panier, procédez au
          paiement en suivant les instructions à l'écran.
        </p>
      </p-accordionTab>

      <p-accordionTab header="Quels sont les moyens de paiement acceptés ?" [style]="{ 'background-color': '#e8e9e1', color: '#30333b' }">
        <p>
          Nous acceptons les paiements par carte bancaire (Visa, MasterCard, American Express) et PayPal. Vous pouvez sélectionner votre
          méthode de paiement préférée lors du passage en caisse.
        </p>
      </p-accordionTab>

      <p-accordionTab header="Comment suivre ma commande ?" [style]="{ 'background-color': '#e8e9e1', color: '#30333b' }">
        <p>
          Une fois votre commande expédiée, vous recevrez un email de confirmation avec un numéro de suivi. Vous pouvez utiliser ce numéro
          pour suivre l'état de votre livraison sur le site du transporteur. Vous pouvez également consulter l'historique de vos commandes
          dans votre compte utilisateur sur notre site.
        </p>
      </p-accordionTab>

      <p-accordionTab header="Quels sont les délais de livraison ?" [style]="{ 'background-color': '#e8e9e1', color: '#30333b' }">
        <p>
          Les délais de livraison varient en fonction de votre emplacement et du type de livraison choisi. Les livraisons standard prennent
          généralement entre 3 et 7 jours ouvrables, tandis que les livraisons express peuvent être effectuées en 1 à 3 jours ouvrables.
        </p>
      </p-accordionTab>

      <p-accordionTab
        header="Puis-je annuler ma commande après l’avoir passée ?"
        [style]="{ 'background-color': '#e8e9e1', color: '#30333b' }"
      >
        <p>
          Vous pouvez annuler votre commande tant qu'elle n'a pas encore été expédiée. Veuillez nous contacter dès que possible via notre
          page de contact ou par téléphone pour vérifier l'état de votre commande et voir si une annulation est possible.
        </p>
      </p-accordionTab>

      <p-accordionTab header="Livrez-vous à l'international ?" [style]="{ 'background-color': '#e8e9e1', color: '#30333b' }">
        <p>
          Oui, nous proposons la livraison internationale dans la plupart des pays. Les frais de livraison et les délais varient en fonction
          du pays de destination. Vous pourrez voir les options de livraison disponibles lors du passage en caisse.
        </p>
      </p-accordionTab>

      <p-accordionTab header="Comment obtenir une facture pour ma commande ?" [style]="{ 'background-color': '#e8e9e1', color: '#30333b' }">
        <p>
          Une facture est automatiquement envoyée à votre adresse e-mail une fois que la commande est confirmée. Si vous avez besoin d'une
          facture supplémentaire ou détaillée, vous pouvez la télécharger à partir de votre compte utilisateur ou nous contacter
          directement.
        </p>
      </p-accordionTab>

      <p-accordionTab
        header="Puis-je modifier l'adresse de livraison après avoir passé la commande ?"
        [style]="{ 'background-color': '#e8e9e1', color: '#30333b' }"
      >
        <p>
          Si votre commande n'a pas encore été expédiée, vous pouvez modifier l'adresse de livraison en nous contactant. Si la commande est
          déjà en cours de traitement ou expédiée, il pourrait ne plus être possible de changer l'adresse.
        </p>
      </p-accordionTab>

      <p-accordionTab
        header="Quelles sont vos politiques en matière de protection des données personnelles ?"
        [style]="{ 'background-color': '#e8e9e1', color: '#30333b' }"
      >
        <p>
          Nous prenons la protection de vos données personnelles très au sérieux. Nous utilisons vos informations uniquement pour le
          traitement de vos commandes et nous ne les partageons pas avec des tiers sans votre consentement. Consultez notre
          <a routerLink="/privacy-policy" style="color: #bd607d">Politique de confidentialité</a> pour plus de détails.
        </p>
      </p-accordionTab>

      <p-accordionTab
        header="Que faire si je reçois un produit endommagé ou incorrect ?"
        [style]="{ 'background-color': '#e8e9e1', color: '#30333b' }"
      >
        <p>
          Si vous recevez un produit endommagé ou incorrect, veuillez nous contacter immédiatement via notre page de contact ou par email à
          <a href="mailto:support@valkylit.com" style="color: #bd607d">support&#64;valkylit.com</a>. Nous organiserons un retour ou un
          échange selon le cas. Assurez-vous de fournir des photos du produit endommagé et une copie de votre reçu pour accélérer le
          processus.
        </p>
      </p-accordionTab>

      <p-accordionTab header="Comment puis-je retourner un produit ?" [style]="{ 'background-color': '#e8e9e1', color: '#30333b' }">
        <p>
          Pour retourner un produit, veuillez consulter notre politique de retour sur le site. Vous pouvez remplir un formulaire de retour
          en ligne ou nous contacter directement. Les produits doivent être retournés dans leur état d'origine, avec l'emballage intact et
          une preuve d'achat.
        </p>
      </p-accordionTab>
    </p-accordion>
  </div>
</section>
