<div class="book-filter p-4">
  <strong jhiTranslate="catalog.filters.filterTheResults">Filtrer les résultats</strong>

  <div class="my-2 mt-4">
    <div class="mt-4">
      <p-floatLabel>
        <p-autoComplete
          id="author"
          [dropdown]="true"
          [multiple]="true"
          [(ngModel)]="filter.authors"
          field="name"
          [suggestions]="filteredAuthors"
          (completeMethod)="filterAuthors($event)"
          (onSelect)="applyFilter()"
          (onUnselect)="applyFilter()"
        ></p-autoComplete>
        <label for="author" jhiTranslate="catalog.filters.authors">Auteurs</label>
      </p-floatLabel>
    </div>
  </div>

  <div class="my-2 mt-4">
    <div class="mt-4">
      <p-floatLabel>
        <p-autoComplete
          id="category"
          [dropdown]="true"
          [multiple]="true"
          [(ngModel)]="filter.categories"
          field="name"
          [suggestions]="filteredCategories"
          (completeMethod)="filterCategories($event)"
          (onSelect)="applyFilter()"
          (onUnselect)="applyFilter()"
        ></p-autoComplete>
        <label for="author" jhiTranslate="catalog.filters.categories">Catégories</label>
      </p-floatLabel>
    </div>
  </div>

  <div class="my-4">
    <label for="format" class="mb-2" jhiTranslate="catalog.filters.format">Format</label>
    <div *ngFor="let enum of BookFormat | keyvalue" class="field-checkbox">
      <p-checkbox
        class="my-2"
        id="format"
        [(ngModel)]="filter.formats"
        [label]="'valkylitApp.BookFormat.' + enum.value | translate"
        name="group"
        [value]="enum.value"
        (onChange)="applyFilter()"
      />
    </div>
  </div>

  <div>
    <label for="priceRange" class="my-2" jhiTranslate="catalog.filters.priceRange">Fourchette de prix</label>
    <div class="my-4">
      <p-slider
        (onSlideEnd)="applyFilter()"
        [(ngModel)]="filter.priceRange"
        [max]="maxPrice"
        [min]="minPrice"
        [range]="true"
        id="priceRange"
      ></p-slider>
    </div>
    <span class="my-2"
      ><span jhiTranslate="catalog.from">De</span> {{ filter.priceRange[0] }} € <span jhiTranslate="catalog.toMin">à</span>
      {{ filter.priceRange[1] }} €</span
    >
  </div>

  <div class="mt-4">
    <p-button (click)="resetFilters()" label="{{ 'catalog.empty-filters' | translate }}" severity="danger"></p-button>
  </div>
</div>
