.quantity-display {
  font-size: 20px;
}

.book-title-cov {
  img {
    width: 70px;
    margin-right: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}

::ng-deep {
  .button-sm {
    padding: 4px !important;

    button {
      padding: 14px !important;
      height: 8px;
      width: 8px;
    }
  }
}
