<p-table
  [value]="purchaseLines"
  sortField="book.title"
  [sortOrder]="1"
  styleClass="p-datatable-striped"
  responsiveLayout="stack"
  [breakpoint]="'960px'"
  [tableStyle]="{ 'min-width': '60rem' }"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between" jhiTranslate="cart.title">Mon Panier</div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="book.title" style="width: 20%" jhiTranslate="cart.book">Livre <p-sortIcon field="book.title" /></th>
      <th pSortableColumn="book.price" style="width: 20%" jhiTranslate="cart.price">Prix <p-sortIcon field="book.price" /></th>
      <th pSortableColumn="quantity" style="width: 20%" jhiTranslate="cart.quantity">Quantité <p-sortIcon field="quantity" /></th>
      <th pSortableColumn="sub_total" style="width: 20%" jhiTranslate="cart.sub-total">Sous Total <p-sortIcon field="sub_total" /></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-line>
    <tr>
      <td>{{ line.book?.title }}</td>
      <td>{{ line.book?.price | currency: 'EUR' }}</td>
      <td>
        <div class="quantity-control">
          <!-- Minus button -->
          <p-button icon="pi pi-minus" class="p-button-rounded p-button-text" (onClick)="onDecreaseQuantity(line)"></p-button>
          <!-- Quantity display -->
          <span class="quantity-display">{{ line.quantity }}</span>
          <!-- Plus button -->
          <p-button icon="pi pi-plus" class="p-button-rounded p-button-text" (onClick)="onIncreaseQuantity(line)"></p-button>
        </div>
      </td>
      <td>{{ line.sub_total | currency: 'EUR' }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div style="display: grid; justify-items: end; row-gap: 0.5rem">
      <div jhiTranslate="cart.total" [translateValues]="{ count: onTotalItems(), count2: onTotalPrice() | currency: 'EUR' }"></div>
      <div *ngIf="purchaseLines.length">
        <jhi-cart-validation-btn />
      </div>
    </div>
  </ng-template>
</p-table>
