<div class="d-flex justify-content-between">
  <h1 jhiTranslate="cart.title">Mon Panier</h1>

  <p-button
    class="align-self-center"
    icon="pi pi-trash"
    severity="danger"
    [label]="'cart.emptyTheCart' | translate"
    (onClick)="isEmptyCartDialogVisible = true"
    [disabled]="!getCommandLines().length"
  />
</div>

<p-table
  [value]="getCommandLines()"
  sortField="book.title"
  [sortOrder]="1"
  styleClass="p-datatable-striped"
  responsiveLayout="stack"
  [breakpoint]="'1080px'"
  [tableStyle]="{ 'min-width': '60rem' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="book.title" style="width: 25%" jhiTranslate="cart.book">Livre <p-sortIcon field="book.title" /></th>
      <th pSortableColumn="book.price" style="width: 20%" jhiTranslate="cart.price">Prix <p-sortIcon field="book.price" /></th>
      <th pSortableColumn="quantity" style="width: 20%" jhiTranslate="cart.quantity">Quantité <p-sortIcon field="quantity" /></th>
      <th style="width: 20%" jhiTranslate="cart.sub-total">Sous Total</th>
      <th style="width: 5%"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-line>
    <tr>
      <td>
        <div class="book-title-cov d-flex align-items-center">
          <img [src]="line.book.imageUri | imageUrl" alt="{{ line.book.title }}" routerLink="/details/{{ line.book!.id }}" />
          <a routerLink="/details/{{ line.book!.id }}">{{ line.book?.title }}</a>
        </div>
      </td>
      <td>{{ line.book?.price | currency: 'EUR' }}</td>
      <td>
        <div class="d-flex">
          <!-- Minus button -->
          <p-button (onClick)="onDecreaseQuantity(line)" class="button-sm" icon="pi pi-minus" size="small"></p-button>
          <!-- Quantity display -->
          <span class="quantity-display mx-2 align-self-center">{{ line.quantity }}</span>
          <!-- Plus button -->
          <p-button
            (onClick)="onIncreaseQuantity(line.book)"
            [disabled]="line.quantity >= line.book.stock"
            class="button-sm"
            icon="pi pi-plus"
            size="small"
          ></p-button>
        </div>
      </td>
      <td>{{ line.quantity * line.book.price | currency: 'EUR' }}</td>

      <td><p-button (onClick)="onBookTrashBTnClick(line)" class="button-sm" icon="pi pi-trash" severity="danger" /></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div style="display: grid; justify-items: end; row-gap: 0.5rem">
      <div jhiTranslate="cart.total" [translateValues]="{ count: onTotalItems(), count2: onTotalPrice() | currency: 'EUR' }"></div>
      <div *ngIf="getCommandLines().length">
        <jhi-cart-validation-btn />
      </div>
    </div>
  </ng-template>
</p-table>

<p-dialog header="Confirmation" [modal]="true" [(visible)]="isEmptyCartDialogVisible" [style]="{ width: '25rem' }">
  <div class="p-text-secondary block mb-4" jhiTranslate="cart.emptyTheCartConfirmationMessage">
    Êtes-vous sûr de vouloir vider le panier ?
  </div>
  <div class="d-flex justify-content-end gap-2 m-2">
    <p-button label="{{ 'entity.action.cancel' | translate }}" severity="secondary" (onClick)="isEmptyCartDialogVisible = false" />
    <p-button label="{{ 'entity.action.empty' | translate }}" (onClick)="onEmptyCart()" />
  </div>
</p-dialog>

<p-dialog header="Confirmation" [modal]="true" [(visible)]="isRemoveItemDialogVisible" [style]="{ width: '25rem' }">
  <div
    class="p-text-secondary block mb-4"
    jhiTranslate="cart.removeItemFromCartConfirmationMessage"
    [translateValues]="{ title: itemToDelete?.book?.title }"
  ></div>
  <div class="d-flex justify-content-end gap-2 m-2">
    <p-button label="Annuler" severity="secondary" (onClick)="isRemoveItemDialogVisible = false" />
    <p-button label="Retirer" (onClick)="onRemoveCartItemClick()" />
  </div>
</p-dialog>
