@import 'bootstrap/scss/functions';
@import 'bootswatch/dist/zephyr/variables';
@import 'bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

$primary-color: #9e573f;
$primary-color-hover: #c17d65;

::ng-deep {
  .p-menubar {
    background-color: $primary-color;

    .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content {
      background: $primary-color-hover;
    }

    :not(.p-menubar-mobile-active) .p-menubar-root-list {
      .p-menuitem-content,
      .p-menuitem-link {
        color: $white;
      }
    }

    .p-menuitem-content:hover {
      background-color: $primary-color-hover;
    }
  }

  .p-menubar .p-menubar-button {
    color: $white;
  }

  .p-badge {
    background: $white;
    margin-left: 4px;
    color: $black;
    min-width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
  }
}

.navbar {
  background-color: $primary-color;
  padding: 0.2rem 1rem;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: $dark;
  }

  fa-icon {
    margin-right: 4px;
  }

  .navbar-nav {
    margin-bottom: revert;
  }

  a.nav-link {
    color: white;
    font-weight: 400;
  }

  .navbar-toggler {
    &:hover {
      color: $navbar-dark-hover-color;
    }
  }
}

.cart-text {
  display: inline-flex;
  align-items: center;
}

.cart-badge {
  background-color: rgb(73, 73, 88);
  color: white;
  border-radius: 50%;
  font-weight: bold;
  margin-left: 4px;
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 56px;
  width: 184px;
  display: inline-block;
  vertical-align: middle;
  background: url('/content/images/valkylit-logo.png') no-repeat center center;
  background-size: contain;
}
