@import 'bootstrap/scss/functions';
@import 'bootswatch/dist/zephyr/variables';
@import 'bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

$primary-color: #9e573f;

.navbar {
  background-color: $primary-color;
  padding: 0.2rem 1rem;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: $dark;
  }

  .search-bar-container {
    margin-left: 30px;
  }
  .navbar-nav {
    margin-bottom: revert;
  }
  a.nav-link {
    color: white;
    font-weight: 400;
  }

  .navbar-toggler {
    &:hover {
      color: $navbar-dark-hover-color;
    }
  }
}

.cart-text {
  display: inline-flex;
  align-items: center;
  margin-left: 8px; /* Space between icon and text */
}

.cart-badge {
  background-color: rgb(73, 73, 88); /* Badge background color */
  color: white; /* Badge text color */
  border-radius: 50%; /* Circular shape */
  padding: 4px 8px;
  font-size: 12px; /* Text size */
  font-weight: bold;
  margin-left: 8px; /* Space between text and badge */
  min-width: 20px;
  height: 20px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the number in the circle */
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 56px;
  width: 184px;
  display: inline-block;
  vertical-align: middle;
  background: url('/content/images/valkylit-logo.png') no-repeat center center;
  background-size: contain;
}
