/* ==========================================================================
Main page styles
========================================================================== */
@import '../../content/scss/variables';

.home {
  background-color: $light;

  .section-1 {
    height: 600px;

    background: url('../../content/images/books.png') no-repeat center right;
    background-size: contain;

    .content-text {
      margin-left: 50px;
    }
    h1 {
      font-size: 48px;
      font-weight: 800;
      margin-bottom: 50px;
    }
    h2 {
      margin: 0px 0px 55px 0px;
    }
  }

  .section-2 {
    background-color: $dark;

    h3 {
      color: $light;
    }
  }

  .section-3 {
    background-color: $light;

    h3 {
      color: $dark;
    }

    .category-card {
      margin: 0 70px 20px 70px;
      background-color: $primary;
      color: white;
      border-radius: 15px;
      box-shadow: #d6cece 0px 7px 5px 0px;

      .category-img {
        border-radius: 10px 0px 0px 10px;
        opacity: 1;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }

      .description {
        text-align: center;
      }

      .catalog-btn {
        background-color: white !important;
        color: $dark !important;
      }
    }
  }
}

@media screen and (max-width: 426px) {
  .h1-main {
    font-size: 1.5em !important;
  }

  .content-text {
    margin-left: 2% !important;
  }

  .section-recent-books {
    display: none !important;
  }
}

::ng-deep {
  .p-carousel .p-carousel-content .p-carousel-prev,
  .p-carousel .p-carousel-content .p-carousel-next {
    background-color: #fff;

    &:hover {
      background-color: #f4f4f4;
    }
  }
}
