<div class="book-card d-flex">
  <div class="book-image" routerLink="/details/{{ book.id }}">
    <img [src]="book.imageUri | imageUrl" alt="{{ book.title }}" />
  </div>
  <div class="book-content d-flex flex-column">
    <div class="book-content-flex d-flex justify-content-between mb-2">
      <h2 class="title" routerLink="/details/{{ book.id }}">{{ book.title }}</h2>
      <span class="price"> {{ book!.price }} €</span>
    </div>

    <div class="book-categories d-flex align-items-center mb-2">
      <p-chip
        *ngFor="let category of limitedCategories"
        [label]="category.name || ''"
        [queryParams]="{ category: category.name }"
        routerLink="/catalog"
      />
      <span *ngIf="book!.categories!.length > maxVisibleCategories">...</span>
    </div>

    <span class="subtitle">{{ book.subtitle }}</span>

    <div class="book-authors d-flex align-items-center">
      <span *ngFor="let author of limitedAuthors" class="mr-1"> {{ author.name }}</span>
      <span *ngIf="book!.authors && book!.authors!.length > (maxVisibleAuthors || 0)">...</span>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <div>
        <p-button
          (onClick)="onBuyBookBtnClick()"
          *ngIf="book.stock"
          icon="pi pi-cart-plus"
          label="{{ 'cart.addToCart' | translate }}"
          size="small"
        />
        <p-button *ngIf="!book.stock" [disabled]="true" icon="pi pi-cart-plus" label="{{ 'cart.outOfStock' | translate }}" size="small" />
      </div>
    </div>
  </div>
</div>
