@import '../../../content/scss/variables';

:host {
  ::ng-deep .p-chip {
    font-size: 12px;
    margin-right: 0.5em;
  }
}

.book-card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 16px;
  background-color: #fff;

  .book-image {
    flex: 0 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 1001px) and (max-width: 1199px) {
      flex: 0 0 50px;
    }

    @media screen and (max-width: 426px) {
      flex: 0 0 50px;
    }

    ::ng-deep {
      @media screen and (max-width: 769px) {
        .generic-page-container,
        .generic-page-container-transparent {
          margin-left: 4%;
          margin-right: 4%;
          padding: 0.2rem 1rem 0.8rem 1rem !important;
        }

        .p-carousel-item {
          .book-image {
            display: none !important;
          }
        }
      }
    }

    img {
      width: 100%;
      height: -webkit-fill-available;
      object-fit: cover;
      transition-duration: 0.3s;

      &:hover {
        cursor: pointer;
        filter: brightness(0.8);
      }
    }
  }

  .title {
    font-weight: 700;
    font-size: 17px;
    margin: 0;
    transition-duration: 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      cursor: pointer;
      color: var(--primary-color);
    }
  }

  .subtitle {
    font-size: 14px;
    color: #666;
    margin-top: 4px;
    white-space: nowrap; /* Prevent the text from wrapping to the next line */
    overflow: hidden; /* Hide the overflowing text */
    text-overflow: ellipsis; /* Show the ellipsis (...) for the hidden text */
    width: 100%;
  }

  .book-authors {
    font-size: 15px;
    color: #333;
  }

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  ::ng-deep .p-button {
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.book-content {
  padding: 16px;
  justify-content: space-between;
  flex: 1;
}

p {
  font-size: 1em;
  color: #555;
  line-height: 1.4;
}

.book-meta {
  margin-top: 16px;
  font-size: 0.9em;
  color: #999;
}

.price {
  font-weight: bold;
  color: $primary;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1000px) {
  :not(.p-carousel-item) .book-card {
    margin: 0.5rem 0;
    max-width: 100%;
  }
}

::ng-deep {
  @media screen and (max-width: 769px) {
    .p-carousel-item {
      .book-image {
        display: none !important;
      }
    }
  }
}
