/** Global variables */
$primary: #721b1b;
$primary-light: #933636;

$secondary: #7c7590;
$accent-color: #c99553;
$light: #faf6f9;
$dark: #16161d;

$success: #5c8845;
$danger: #f44336;
$warning: #d9780d;
$info: #03a9f4; // 16161d
